<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <h1 style="font-size: 24px">
          <strong>Atheios Mining Pool</strong>
        </h1>
        <span class="label label-danger">NOTE: POOL CURRENTLY TESTNET</span><br/>
        <span class="label label-primary">{{config.PayoutThreshold}}</span> Minimum payout threshold.<br/>
        <span class="label label-primary">30 MINUTES</span> Payouts happen twice an hour.<br/>
        <span class="label label-primary">PROP</span> Stable and profitable pool with regular payouts.
      </div>
      <div class="col-md-3 stats">
        <div><i class="fa fa-users"></i> Miners Online: <span id="poolHashrate">{{format-number stats.model.minersTotal}}</span></div>
        <div><i class="fa fa-tachometer"></i> Pool Hash Rate: <span id="poolHashrate">{{format-hashrate stats.model.hashrate}}</span></div>
        <div><i class="fa fa-money"></i> Pool Fee: <span id="poolFee" class="label label-primary">{{config.PoolFee}}</span></div>
        {{#if stats.model.stats.lastBlockFound}}
        <div><i class="fa fa-clock-o"></i> Last Block Found: <span>{{format-relative (seconds-to-ms stats.model.stats.lastBlockFound)}}</span></div>
        {{/if}}
      </div>
      <div class="col-md-4 stats">
        <div><i class="fa fa-unlock-alt"></i> Network Difficulty: <span>{{with-metric-prefix stats.difficulty}}</span></div>
        <div><i class="fa fa-tachometer"></i> Network Hash Rate: <span>{{format-hashrate stats.hashrate}}</span></div>
        <div><i class="fa fa-bars"></i> Blockchain Height: <span>{{format-number stats.height}}</span></div>
        <div><i class="fa fa-clock-o"></i> Current Round Variance: <span>{{format-number stats.roundVariance style='percent'}}</span></div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="stats">
    <h4>Your Stats &amp; Payment History</h4>
    <div class="input-group">
      {{input value=cachedLogin class="form-control" placeholder="Enter Your Atheios Address"}}
      <span class="input-group-btn">
        <button class="btn btn-primary" type="button" {{action 'lookup' cachedLogin}}>
          <span style="display: inline;"><i class="fa fa-search"></i> Lookup</span>
        </button>
      </span>
    </div>
  </div>
  <div>
    <hr/>
    <h4 class="note note-info text-center">
      Welcome to the Atheios Dev Mining Pool. Our pool is currently hosted in the Western United States.
    </h4>
    <hr/>
    <table border="0" width="100%">
      <tr>
        <td>
          <h5 class="note note-info text-center">
            <b>0 - 100 MH/s</b>
            <br />
            2 billion difficulty
            <br /><br />
            <b>Stratum:</b>
            <br />
            <code>stratum+tcp://pool.atheios.com:8008</code> 
            <br /><br />
            <b>Getwork:</b>
            <br />
            <code>http://pool.atheios.com:8888</code>
          </h5>
        </td>
        <td>
          <h5 class="note note-info text-center">
            <b>100 MH/s - 800 MH/s</b>
            <br />
            4 billion difficulty
            <br /><br />
            <b>Stratum:</b>
            <br />
            <code>stratum+tcp://pool.atheios.com:8007</code> 
            <br /><br />
            <b>Getwork:</b>
            <br />
            <code>http://pool.atheios.com:8077</code>
          </h5>
        </td>
        <td>
          <h5 class="note note-info text-center">
            <b>800+ MH/s</b>
            <br />
            9 billion difficulty
            <br /><br />
            <b>Stratum:</b>
            <br />
            <code>stratum+tcp://pool.atheios.com:8006</code> 
            <br /><br />
            <b>Getwork:</b>
            <br />
            <code>http://pool.atheios.com:8066</code>
          </h5>
        </td>
      </tr>
    </table>



  </div>
</div>
